<div style="margin-top: 15px; background-color: #fff; padding: 10px">
    <img ng-src="{{data.prd_foto}}" />

    <h3>{{data.prd_name}}</h3>

    <p>Cena: <span class="badge badge-primary">{{data.prd_price | currency : 'CZK '}}</span></p>

    <p>{{data.prd_desc}}</p>
</div>