<div style="margin-top: 5px">
    <form>
        <input type="text" placeholder="Název produktu" name="productName" id="productName" ng-model="term">
        <button class="btn btn-primary btn-block" id="find" ng-click="search()">Vyhledat product</button>
    </form>
</div>

<ul class="table-view">
  <li class="table-view-cell media" ng-repeat="product in products">
      <a href="#/details/{{product.prd_id}}" class="navigate-right" data-transition="fade">
      <img class="media-object pull-left" ng-src="http://ca.bibik.cz/_admin/cache/img/{{product.prd_foto}}">
      <div class="media-body">
        {{product.prd_name}}
        <p>Cena: {{product.prd_price | currency : 'CZK '}}</p>
        <p>{{product.prd_desc}}</p>
      </div>
    </a>
  </li>
</ul>

<button class="btn btn-block btn-primary" ng-class="{'disabled' : hasTerm}">Načíst další</button>