body header.bar-nav {
    opacity: 0.7;
}

div#detail p,
div#detail strong,
div#detail {
    color: #000000 !important;
}

div#detail p {
    font-size: 100%;
    line-height: 130%;
}

.media {
    border-bottom: 1px solid #ddd !important;
}

.media:last-child {
    border-bottom: none !important;
}

.foot {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #ffffff;
}
.foot a {
    color: #ffffff;
}

.view-load {
    width: 100%;
    padding-left: 1em;
    position:absolute;
    top: 50px;
    left: 0;
}

.slide-left.ng-enter,  
.slide-left.ng-leave,  
.slide-right.ng-enter,  
.slide-right.ng-leave {  
    position: absolute;  
    top: 44px;
    right: 0;
    bottom: 0;
    left: 0;  
    background: inherit;  
    -ms-transition: 1.25s ease-in-out;  
    -webkit-transition: 1.25s ease-in-out;  
    transition:  1.25s ease-in-out;  
}  
.slide-left.ng-enter {  
    z-index: 101;  
    -webkit-transform: translateX(100%);  
    transform: translateX(100%);  
}  
.slide-left.ng-enter.ng-enter-active {  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.slide-left.ng-leave {  
    z-index: 100;  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.slide-left.ng-leave.ng-leave-active {  
    -webkit-transform: translateX(-100%);  
    transform: translateX(-100%);  
}  
.slide-right.ng-enter {  
    z-index: 100;  
    -webkit-transform: translateX(-100%);  
    transform: translateX(-100%);  
}  
.slide-right.ng-enter.ng-enter-active {  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.slide-right.ng-leave {  
    z-index: 101;  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.slide-right.ng-leave.ng-leave-active {  
    -webkit-transform: translateX(100%);  
    transform: translateX(100%);  
}  